@import '~antd/dist/antd.css';

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
}

#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
