.fileBar {
    height: 100%;
    width: 100%;
    color: $fontColor;
    background-color: $fileBarColor;
    border-bottom: 1px solid $tagBarBorderColor;

    .viewWrapper {
        height: 100%;
        width: 100%;
        padding-right: 5px;
    }
}
